@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@400;500;600&display=swap");
html,
div.background,
body {
  background-image: linear-gradient(to right, #0626a2, #5471e6);
}
* {
  margin: 0;
  padding: 0;
}
